/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Navbar styles */
  .partner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f2f2f2;
    padding: 10px 20px;
    background-color: white;
  }
  
 .partner a {
    margin: 0 10px;
    text-decoration: none;
    color: #333;
    display: inline-block;
  }
  
 .partner img {
    max-width: 100px; /* Điều chỉnh kích thước ảnh nếu cần */
  }

  .container {
    overflow: hidden;
    position: relative;
  }
  
  @keyframes movePartner {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }